# Exclude node_modules to avoid sending unused dependencies in the build context
**/node_modules

# Exclude build output and temporary directories
dist
.nx
.devcontainer

# Exclude version control directories (e.g., git)
**/.git

# Exclude documentation and license files (optional)
**/*.md
**/LICENSE

# Exclude npm debug logs (optional)
**/npm-debug.log

# Exclude editor and IDE-specific files (optional)
**/.vscode
